name: Build Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Zip Content Files
        run: |
          zip -r content.zip ./Assets ./Defs ./Data

      - name: Upload Content Package
        uses: actions/upload-artifact@v3
        with:
          name: content-package
          path: content.zip