name: Build Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Zip Content Files
        run: zip -r content.zip ./Assets ./Defs ./Data
      - uses: actions/upload-artifact@v4
        with:
          name: content-package
          path: content.zip
